@import '../../utils/colors.scss';

.lavpin-input {
  .input-container {
    display: inline-flex;
    font-size: 24px;
    font-weight: 600;
    .input-label {
      padding-top: 5px;
      font-family: 'Courier New', monospace;
    }
    .input-element {
      input {
        font-size: 24px;
        border-radius: 3px;
        padding: 3px;
        font-family: 'Courier New', monospace;
        font-weight: 600;
      }
      input:focus {
        background-color: $input-background;
        color: $input-foreground;
      }
    }
  }
}