.lavpin-button {
  .inner-button {
    font-size: 24px;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    border-color: #ffd;
    background-color: #dd8;
    color: #000;
    font-weight:600;
    svg {
      width: 24px;
      max-height: 24px;
      padding-top: 2px;
    }
  }
  .inner-button:hover {
    background-color: #ffa;
    color: #333;
  }
  .inner-button.inactive {
    cursor: default;
    background-color: #555;
    border-color: #888;
    color: #333;
  }
  .inner-button.inactive:hover {
    background-color: #555;
  }
  .inner-button.warning {
    border-color: #fff;
    background-color: #bbb;
    color: #800;
  }
  .inner-button.warning:hover {
    background-color: #ddd;
    color: #f00;
  }
  .inner-button.transparent {
    border-color: transparent;
    background-color: transparent;
    color: #000;
  }
  .inner-button.transparent:hover {
    background-color: transparent;
    color: #333;
  }
}