@import '../../utils/colors.scss';

.lavpin-button {
  .inner-button {
    font-size: 24px;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    border-color: $button-standard-border;
    background-color: $button-standard-background;
    color: $button-standard-foreground;
    font-weight:600;
    svg {
      width: 24px;
      max-height: 24px;
      padding-top: 2px;
    }
  }
  .inner-button:hover {
    background-color: $button-standard-background-hover;
    color: #333;
  }
  .inner-button.inactive {
    cursor: default;
    background-color: $button-inactive-background;
    border-color: $button-inactive-border;
    color: $button-inactive-foreground;
  }
  .inner-button.inactive:hover {
    background-color: $button-inactive-background-hover;
  }
  .inner-button.warning {
    border-color: $button-warning-border;
    background-color: $button-warning-background;
    color: $button-warning-foreground;
  }
  .inner-button.warning:hover {
    background-color: $button-warning-background-hover;
    color: $button-warning-foreground-hover;
  }
  .inner-button.transparent {
    border-color: $button-transparent-border;
    background-color: $button-transparent-background;
    color: $button-transparent-foreground;
  }
  .inner-button.transparent:hover {
    background-color: $button-transparent-background-hover;
    color: $button-transparent-foreground-hover;
  }
}