.lavpin-hand {
  position: absolute;
  width: 800px;
  height: 250px;
  .hand-transformer {
    position: absolute;
    left: -400px;
    top: -125px;
    width: 800px;
    height: 250px;
  }
  .hand-container {
    position: absolute;
    width: 800px;
    height: 250px;
  }
}