@import '../../utils/colors.scss';

.lavpin-playing-card {
  position: absolute;
  width: 100px;
  height: 140px;
  pointer-events: none;
  .card-container {
    position: relative;
    left: -50px;
    top: -70px;
    width: 100px;
    height: 140px;
    .card-display {
      height: 100%;
      .card-body {
        height: 140px;
        &.clickable {
          cursor: pointer;
          pointer-events: all;
        }
        .top-left-suit {
          position: absolute;
          top: 40px;
          left: 13px;
          width: 40px;
          margin: auto;
        }
        .bottom-right-suit {
          position: absolute;
          bottom: 40px;
          right: 13px;
          rotate: 180deg;
          width: 40px;
          margin: auto;
        }
        .top-left-value {
          position: absolute;
          top: 0;
          left: 5px;
          width: 40px;
          text-align: center;
          font-size: 32px;
          font-weight: 900;
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
        }
        .bottom-right-value {
          position: absolute;
          bottom: 0;
          right: 5px;
          rotate: 180deg;
          width: 40px;
          text-align: center;
          font-size: 32px;
          font-weight: 900;
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
        }
        .unselectableText {
          -webkit-user-select: none; /* Safari */
          -ms-user-select: none; /* IE 10 and IE 11 */
          user-select: none; /* Standard syntax */
        }
        .value-red {
          color: $card-suit-red;
        }
        .value-black {
          color: $card-suit-black;
        }
      }
    }
  }
}