@import '../../utils/colors.scss';

.lavpin-modal {
  position: absolute;
  .blocker {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    cursor: default;
    background-color: $modal-blocker-background;
    opacity: 0.85;
  }
  .box-container {
    position: absolute;
    pointer-events: none;
    .box-transition {
      position: absolute;
      .modal-box {
        pointer-events: all;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
        position: absolute;
        background-color: $modal-box-background;
        border: 3px solid $modal-box-border;
        .x-button {
          position: absolute;
          right: 1px;
          top: 1px;
          span {
            font-size: 14px;
            vertical-align: 8px;
          }
        }
        .header-line {
          font-size: 30px;
          font-weight: 900;
          width: 100%;
          margin-left: 10px;
        }
        .header-line.without-separator {
          text-align: center;
          margin-left: 0;
        }
        .header-separator {
          hr {
            border-color: $modal-header-separator;
          }
        }
        .message-area {
          margin: 10px;
          font-size: 24px;
        }
        .text-inputs {
          margin-left: 10px;
          margin-right: 10px;
          .lavpin-input {
            .input-label {
              font-family: Arial, sans-serif;
            }
          }
        }
        .buttons-line {
          width: calc(100% - 20px);
          position: absolute;
          bottom: 10px;
          display: inline-flex;
          margin-left: 10px;
          margin-right: 10px;
          .lavpin-button {
            margin: auto;
          }
        }
      }
      .modal-box.transparent-box {
        background-color: $modal-box-transparent;
        border-color: $modal-box-transparent;
      }
    }
  }
}