$button-standard-border: #ffd;
$button-standard-background: #dd8;
$button-standard-foreground: #000;
$button-standard-background-hover: #ffa;
$button-inactive-border: #888;
$button-inactive-background: #555;
$button-inactive-foreground: #333;
$button-inactive-background-hover: #555;
$button-warning-border: #fff;
$button-warning-background: #bbb;
$button-warning-foreground: #800;
$button-warning-foreground-hover: #f00;
$button-warning-background-hover: #ddd;
$button-transparent-border: transparent;
$button-transparent-background: transparent;
$button-transparent-foreground: #000;
$button-transparent-foreground-hover: #333;
$button-transparent-background-hover: transparent;
$input-background: #ffc;
$input-foreground: #333;
$modal-blocker-background: #000;
$modal-box-background: #9b9;
$modal-box-border: #888;
$modal-header-separator: #888;
$modal-box-transparent: transparent;
$card-suit-red: #A00;
$card-suit-black: #333;
$score-pad-shadow: #888;
$score-pad-erased-score: #bb6;
$score-pad-blocker: rgba(0, 0, 0, .75);
$card-table-background: darkolivegreen;