.lavpin-pile {
  position: absolute;
  width: 220px;
  height: 220px;
  pointer-events: none;
  .pile-transformer {
    position: absolute;
    left: -110px;
    top: -110px;
    width: 220px;
    height: 220px;
    .pile-container {
      position: absolute;
      width: 220px;
      height: 220px;
    }
  }
}
